<%@comments.each do |comment|%>
  <div class="comment-container">
    <div class="comment-text-container">
    <h3 class="comment-text"><%= comment.text[2..-3] %> - <span class="comment-username"><%=comment.user.full_name%>  </span><span class="comment-created-at"> <%=comment.created_at%></span></h3>
    </div>
  </div>
<%end%>
