<div class="container">
  <form class="form-horizontal" action="/questions/new" method="POST">
  <fieldset>
  <!-- Form Name -->
  <legend>Post Question</legend>
  <br>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="title">Title</label>
    <div class="col-md-4">
    <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md" required="">
    </div>
  </div>
  <br>
  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="text">Question</label>
    <div class="col-md-4">
      <textarea class="form-control" id="text" name="text" placeholder="Ask your question here." rows="10" cols="50" required=""></textarea>
    </div>
  </div>
  <br>
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="post-answer"></label>
    <div class="col-md-4">
      <button id="post-answer" name="post-answer" class="btn btn-primary">Post Question</button>
    </div>
  </div>
  </fieldset>
  </form>
</div>