<div class="container">
  <h1 class="question-title"><%= @question.title %></h1>
  <% @comments = @question.comments %>
  <%= erb :"question/_question" %>
  <% @question_answers.each do |answer| %>
    <% @answer = answer %>
    <% @comments = @answer.comments %>
    <%= erb :"answer/_answer" %>
  <% end %>
</div>
