<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>DBC Overflow</title>
  <style>
  header {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Roboto';
    font-size: 2em;
  }

  header nav {
  }

  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  header nav li {
    display: inline-block;
  }
  </style>
</head>
<header>
  DBC Overflow
  <nav>
    <%= erb :_nav %>
  </nav>
</header>
<body>
  <%= yield %>
</body>
</html>
