<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <title>DBC Overflow</title>
</head>
<header class="header-container">
  <h1 class="header-title"><a href="/"><span class="header-weight">DBC</span> Overflow</a></h1>
  <nav>
    <%= erb :_nav %>
  </nav>
</header>
<body>
  <%= yield %>
</body>
<script src="/js/application.js"></script>
</html>
